<%= render "shared/header" %>
  <body>
    <div class="top-wrapper">
      <div class="container">
        <div class="center">
          <h1>NutritionCalculation</h1>
          <h2>REVIEW YOUR EATING HABITS</h2>
          <p>NutritionCalculationは食品栄養計算サイトです。</p>
          <p>誰でも簡単に栄養の計算が出来るように作っています。</p>
          <a href="/nutritions/index2" class="btn signup">計算する</a>
        </div>
      </div>
    </div>
    <div class="lesson-wrapper">
    </div>
    <div class="message-wrapper">
    </div>

  </body>
<%= render "shared/footer" %>
