<%= render "shared/header" %>

<body>
    <div class="tops-wrapper">
          <div class="place">
            <p>葉菜類</p>
            <p>根菜類</p>
            <p>果菜類</p>
            <p>果物</p>
            <p class="orange">きのこ類</p>
          </div>
          <div class="type">
            <select class="select" name=1 id="keisan1">
              <option value=0>選択してください</option>
              <option value=1>キャベツ</option>
              <option value=2>レタス</option>
            </select>
            <select class="select" name=2 id="keisan2">
              <option value=0>選択してください</option>
              <option value=3>にんじん</option>
              <option value=4>大根</option>
            </select>
            <select class="select" name=3 id="keisan3">
              <option value=0>選択してください</option>
              <option value=5>カボチャ</option>
              <option value=6>トマト</option>
            </select>
            <select class="select" name=4 id="keisan4">
              <option value=0>選択してください</option>
              <option value=7>レモン</option>
              <option value=8>りんご</option>
            </select>
            <select class="select" name=5 id="keisan5">
              <option value=0>選択してください</option>
              <option value=9>しいたけ</option>
              <option value=10>エリンギ</option>
            </select>
          </div>
          <div class="place2">
            <p class="orange">豆類</p>
            <p class="black">海藻類</p>
            <p class="orange">油脂類</p>
            <p class="orange">芋類</p>
            <p class="orange">麺類</p>
          </div>
          <div class="type">
            <select class="select" name=6 id="keisan6">
              <option value=0>選択してください</option>
              <option value=11>枝豆</option>
              <option value=12>インゲン豆</option>
            </select>
            <select class="select" name=7 id="keisan7">
              <option value=0>選択してください</option>
              <option value=13>ワカメ</option>
              <option value=14>ひじき</option>
            </select>
            <select class="select" name=8 id="keisan8">
              <option value=0>選択してください</option>
              <option value=15>ごま油</option>
              <option value=16>オリーブオイル</option>
            </select>
            <select class="select" name=9 id="keisan9">
              <option value=0>選択してください</option>
              <option value=17>じゃがいも</option>
              <option value=18>サツマイモ</option>
            </select>
            <select class="select" name=10 id="keisan10">
              <option value=0>選択してください</option>
              <option value=19>パスタ</option>
              <option value=20>中華麺</option>
            </select>
          </div>
          <div class="place2">
            <p class="red">肉類</p>
            <p class="black">魚類</p>
            <p class="orange">穀類</p>
            <p class="orange">乳製品・卵</p>
            <p class="black">調味料</p>
          </div>
          <div class="type">
            <select class="select" name=11 id="keisan11">
              <option value=0>選択してください</option>
              <option value=21>牛肉</option>
              <option value=22>豚肉</option>
            </select>
            <select class="select" name=12 id="keisan12">
              <option value=0>選択してください</option>
              <option value=23>イワシ</option>
              <option value=24>アジ</option>
            </select>
            <select class="select" name=13 id="keisan13">
              <option value=0>選択してください</option>
              <option value=25>米</option>
              <option value=26>パン</option>
            </select>
            <select class="select" name=14 id="keisan14">
              <option value=0>選択してください</option>
              <option value=27>牛乳</option>
              <option value=28>卵</option>
            </select>
            <select class="select" name=15 id="keisan15">
              <option value=0>選択してください</option>
              <option value=29>砂糖</option>
              <option value=30>醤油</option>
            </select>
          </div>
          <div class="place3">
            <p class="food">食材名</p>
            <p class="amount">食事量</p>
          </div>
          <div class="place4">
            <p>選択した食材 <span id="get"></span></p>
            <input type="number" name="example1" class="select2" id="kcal1"><p class="gramme">g</p></p>
          </div>
          <div class="kcal-content">
          <span>エネルギー</span>
          <span>
            <span id='profit1'></span>kcal
          </div>
          <div class="kcal-content">
          <span>炭水化物</span>
          <span>
            <span id='profit2'></span>g
          </div>
          <div class="kcal-content">
          <span>脂質</span>
          <span>
            <span id='profit3'></span>g
          </div>
          <div class="kcal-content">
          <span>たんぱく質</span>
          <span>
            <span id='profit4'></span>g
          </div>
          <div class="kcal-content">
          <span>糖質</span>
          <span>
            <span id='profit5'></span>g
          </div>
          <div class="kcal-content">
          <span>ナトリウム</span>
          <span>
            <span id='profit6'></span>mg
          </div>
          <div class="kcal-content">
          <span>カリウム</span>
          <span>
            <span id='profit7'></span>mg
          </div>
          <div class="kcal-content">
          <span>カルシウム</span>
          <span>
            <span id='profit8'></span>mg
          </div>
          <div class="kcal-content">
          <span>マグネシウム</span>
          <span>
            <span id='profit9'></span>mg
          </div>
          <div class="kcal-content">
          <span>リン</span>
          <span>
            <span id='profit10'></span>mg
          </div>
          <div class="kcal-content">
          <span>鉄</span>
          <span>
            <span id='profit11'></span>mg
          </div>
          <div class="kcal-content">
          <span>亜鉛</span>
          <span>
            <span id='profit12'></span>mg
          </div>
          <div class="kcal-content">
          <span>ビタミンA</span>
          <span>
            <span id='profit13'></span>μg
          </div>
          <div class="kcal-content">
          <span>ビタミンB1</span>
          <span>
            <span id='profit14'></span>mg
          </div>
          <div class="kcal-content">
          <span>ビタミンC</span>
          <span>
            <span id='profit15'></span>mg
          </div>
          <div class="kcal-content">
          <span>ビタミンD</span>
          <span>
            <span id='profit16'></span>μg
          </div>
          <div class="kcal-content">
          <span>ビタミンE</span>
          <span>
            <span id='profit17'></span>mg
          </div>
          <div class="kcal-content">
          <span>ビタミンK</span>
          <span>
            <span id='profit18'></span>μg
          </div>
          <div class="kcal-content">
          <span>食物繊維</span>
          <span>
            <span id='profit19'></span>g
          </div>
          <div class="kcal-content">
          <span>食塩相当量</span>
          <span>
            <span id='profit20'></span>g
          </div>
          <div class="description">
          <p class="button">栄養値の表示色について</p>
          <p class="description1">オレンジ<span class="button">→</span>摂取不足</p>
          <p class="button">黒色→適量摂取</p>
          <p class="red">赤色<span class="button">→</span>過剰摂取</p>
          </div>
    </div>
    <div class="down-wrapper">
    </div>
</body>
<%= render "shared/footer" %>