<%= render "shared/header" %>

<body>
    <div class="tops-wrapper">
          <div class="place">
            <p>葉菜類</p>
            <p>根菜類</p>
            <p>果菜類</p>
            <p>果物</p>
            <p>きのこ類</p>
          </div>
          <div class="type">
            <select name="葉菜類" class="select" id="keisan">
              <option value="選択してください">選択してください</option>
              <option value="50">キャベツ</option>
              <option value="レタス">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
          </div>
          <div class="place2">
            <p>豆類</p>
            <p>藻類</p>
            <p>油脂類</p>
            <p>乳製品・卵類</p>
            <p>麺類</p>
          </div>
          <div class="type">
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
          </div>
          <div class="place2">
            <p>肉類</p>
            <p>魚類</p>
            <p>穀類</p>
            <p>乳製品・卵</p>
            <p>調味料</p>
          </div>
          <div class="type">
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
            <select class="select" name="example">
              <option value>選択してください</option>
              <option value="1">キャベツ</option>
              <option value="2">レタス</option>
            </select>
          </div>
          <div class="place3">
            <p class="food">食材名</p>
            <p class="amount">食事量</p>
          </div>
          <div class="place3">
            <p>選択した食材 <span id="get"></span></p>
            <input type="number" name="example1" class="select2"></p>
            <p class="gramme">g</p>
          </div>
          <div class="place3">
            <p>選択した食材 <span id="get2"></span></p>
            <input type="number" name="example1" class="select2"></p>
            <p class="gramme">g</p>
          </div>
          <div class="place3">
            <input type="text" name="example1" class="select"></p>
            <input type="number" name="example1" class="select2"></p>
            <p class="gramme">g</p>
          </div>
          <div class="place3">
            <input type="text" name="example1" class="select"></p>
            <input type="number" name="example1" class="select2"></p>
            <p class="gramme">g</p>
          </div>
          <div class="place3">
            <input type="text" name="example1" class="select"></p>
            <input type="number" name="example1" class="select2"></p>
            <p class="gramme">g</p>
          </div>
    </div>
    <div>
    </div>
</body>