.tops-wrapper{
  height: 680px;
  padding-top:180px;
  padding-bottom:100px;
  background-image:url(https://free.foto.ne.jp/free/img/images_big/fd400636.jpg);
  color:white;
  background-size:cover;
}

.down-wrapper{
  height: 680px;
  padding-top:180px;
  padding-bottom:100px;
  color:white;
  background-size:cover;
}

.type{
  display: flex;
  justify-content: space-around;
}

.select{
  color: black;
  border: 2px solid black;
  background-color: white;
}

.select2{
  color: black;
  border: 2px solid black;
  background-color: white;
  margin-left: 110px;
  width: 80px;
  right: 350px;
}

.select3{
  color: black;
  border: 2px solid black;
  background-color: white;
}

.place{
  color: rgb(58, 241, 58);
  display: flex;
  justify-content: space-around;;
}

.place2{
  color: green;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.place3{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px auto;
}

.gramme{
  color: black;
  right: 330px;
}

.food{
  margin: 20px 0px 0px 0px;
  left: 400px;
}

.amount{
  margin: 20px 0px 0px 150px;
}

.kcal-content {
  margin: 0 auto;
  width: 300px;
  color: black;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.place4{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  margin-left: 350px;
}

.button{
  color: black;
}

.description{
  margin-top: 20px;
  text-align: center;
}

.description1{
  color: orange;
}

.description2{
  color: red;
}

.red{
  color: red;
}

.black{
  color: black;
}

.orange{
  color: orange;
}