<header class="header">
  <div class="header__bar row">
      <h1 class="grid-6"><a href="/">NutritionCalculation</a></h1>
    <div class="user_nav">
      <a class="posts" href="/">トップページ</a>
    </div>
  </div>
</header>